<nav class="navbar">
  <a href="<%= relative_url '/' %>">
    <%= svg "/images/logo.svg", class: "navbar__logo" %>
  </a>

  <ul class="navbar__container">
    <li class="navbar__item"><a href="mailto:<%= @metadata.email %>" target="_blank">Contacto</a></li>
  </ul>
</nav>
