---
layout: default
title: site.data.title
---

<div class="main__container">
  <div class="main__description">
    <h1>Invitaciones digitales</h1>
    <h2>Para todos tus eventos(bodas, xv años, despedidas, etc)</h2>
    <p>
      Toda la información de tu evento en un solo lugar para mayor
      comodidad para tus invitados
    </p>
  </div>
  <div class="main__images">
    <div class="main__image">
      <img src = "images/despedida.jpeg" alt="image"/>
    </div>
  </div>
</div>